@model MottuOpsDesafioBackEnd.Domain.Models.MotorcycleRentalModel
@using System.Text.Json
@{
    var authResponseJson = Context.Session.GetString("AuthResponse"); // Ou use ViewContext.HttpContext.Session
    int? userId = null;
    int? courierId = null;

    if (!string.IsNullOrEmpty(authResponseJson))
    {
        var authResponse = JsonSerializer.Deserialize<MottuOpsDesafioBackEnd.Domain.Models.AuthenticationResponse>(authResponseJson);
        userId = authResponse?.Id;
        courierId = authResponse?.CourierId;
    }
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-header text-center">
                    <h2 class="display-6">Solicitar uma moto</h2>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Post", "MotorcycleRental", FormMethod.Post, new
                    {
                        @class = "form-horizontal",
                        @id = "formMotorcycleRental",
                        @name = "formMotorcycleRental"
                    }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <input asp-for="CourierId" type="hidden" value="@courierId">
                        <input asp-for="DailyRate" type="hidden" class="form-control" id="DailyRate" name="DailyRate" />

                        <div class="mb-3">
                            <label asp-for="MotorcycleId" class="form-label">Moto *</label>
                            <select asp-for="MotorcycleId" class="form-control form-control-sm input-small">
                                <option value="">Selecione uma moto</option>
                                @foreach (var motorcycle in Model.Motorcycles)
                                {
                                    <option value="@motorcycle.Id">@motorcycle.Identifier - @motorcycle.Model</option>
                                }
                            </select>
                            <span asp-validation-for="MotorcycleId" class="text-danger"></span>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-md-6">
                                <label asp-for="StartDate" class="form-label">Data de início *</label>
                                <input asp-for="StartDate" type="date" class="form-control" id="StartDate" name="StartDate" />
                                <span asp-validation-for="StartDate" class="text-danger font-size"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="ExpectedEndDate" class="form-label">Data prevista final *</label>
                                <input asp-for="ExpectedEndDate" type="date" class="form-control" id="ExpectedEndDate" name="ExpectedEndDate" />
                                <span asp-validation-for="ExpectedEndDate" class="text-danger font-size"></span>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-md-12">
                                <label asp-for="EndDate" class="form-label">Data fim *</label>
                                <input asp-for="EndDate" type="date" class="form-control" id="EndDate" name="EndDate" />
                                <span asp-validation-for="EndDate" class="text-danger font-size"></span>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <div class="col-md-12">
                                <label asp-for="PlanType" class="form-label">Planos - Dias - Valor por dia</label>
                                <select asp-for="PlanType" class="form-control form-control-sm input-small">
                                    <option value="">Selecione um plano - Nome plano - Dias - Valor por dia</option>
                                    @foreach (var plan in Model.PlansRental)
                                    {
                                        <option value="@plan.Days">@plan.Identifier - @plan.Days - @plan.Value</option>
                                    }
                                </select>
                                <span asp-validation-for="MotorcycleId" class="text-danger"></span>
                            </div>
                        </div>

                        <p>* campos obrigatórios</p>

                        <div class="text-center">
                            <a class="btn btn-secondary btn-sm" href="@Url.Action("Index", "Authentication")">
                                Voltar
                            </a>
                            <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#ExpectedEndDate').change(function () {

                var startDate = new Date($('#StartDate').val());

                var expectedEndDate = new Date($(this).val());

                if (startDate && expectedEndDate && expectedEndDate > startDate) {

                    var timeDiff = Math.abs(expectedEndDate.getTime() - startDate.getTime());

                    var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 

                    $('#DailyRate').val(diffDays);

                    $('#EndDate').val($(this).val());

                } else {
                    $('#DailyRate').val('');
                    Swal.fire({
                        title: "Erro na data",
                        text: "A data final prevista deve ser maior que a data de início.",
                        icon: "error"
                    });
                }
            });
        });
    </script>
}