@using System.Text.Json
@{
    var authResponseJson = Context.Session.GetString("AuthResponse"); // Ou use ViewContext.HttpContext.Session
    int? profileId = null;
    int? userId = null;

    if (!string.IsNullOrEmpty(authResponseJson))
    {
        var authResponse = JsonSerializer.Deserialize<MottuOpsDesafioBackEnd.Domain.Models.AuthenticationResponse>(authResponseJson);
        profileId = authResponse?.ProfileId;
        userId = authResponse?.Id;
    }
}

@if (profileId == 1)
{
    <nav id="navAdm" name="navAdm" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Modelo
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "MotorcycleType")">Adicionar</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("GetAll", "MotorcycleType")">Listar todos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Moto
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Motorcycle")">Adicionar</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("GetAll", "Motorcycle")">Listar todos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Usuário
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "User")">Adicionar</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("GetAll", "User")">Listar todos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Perfil
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Profile")">Adicionar</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("GetAll", "Profile")">Listar todos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

@if (profileId == 2)
{
    <nav id="navAdm" name="navEntragador" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Entregador</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Entregador
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="atualizarCnh" name="atualizarCnh" class="dropdown-item" asp-area="" asp-controller="Courier" asp-action="GetById" asp-route-id="@userId">Atualizar CNH</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Alugar
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "MotorcycleRental")">Solicitar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

@if (TempData["AuthenticationSuccess"] != null && TempData["AuthenticationSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "Usuário e senha válidos.",
            text: "Autenticado com sucesso!",
            icon: "success"
        });
    </script>
}

@if (TempData["UserProfileSuccess"] != null && TempData["UserProfileSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "O perfil do usuário foi adicionado",
            text: "com sucesso!",
            icon: "success"
        });
    </script>
}

@if (TempData["MotorcycleRentalSuccess"] != null && TempData["MotorcycleRentalSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "Realizado a solicitação do aluguel da",
            text: "moto com sucesso!",
            icon: "success"
        });
    </script>
}

@if (TempData["UserProfileErro"] != null && TempData["UserProfileErro"].ToString() == "Invalido")
{
    <script>
        Swal.fire({
            title: "O perfil do usuário não foi adicionado.",
            text: "Tente novamente mais tarde!",
            icon: "error"
        });
    </script>
}