@using System.Text.Json
@{
    var authResponseJson = Context.Session.GetString("AuthResponse"); // Ou use ViewContext.HttpContext.Session
    int? profileId = null;

    if (!string.IsNullOrEmpty(authResponseJson))
    {
        var authResponse = JsonSerializer.Deserialize<MottuOpsDesafioBackEnd.Domain.Models.AuthenticationResponse>(authResponseJson);
        profileId = authResponse?.ProfileId;
    }
}

@if (profileId == 1)
{
    <nav id="navAdm" name="navAdm" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Modelo
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "MotorcycleType")">Adicionar</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("GetAll", "MotorcycleType")">Listar todos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Moto
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Motorcycle")">Adicionar</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("GetAll", "Motorcycle")">Listar todos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Usuário
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "User")">Adicionar</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("GetAll", "User")">Listar todos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Perfil
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Profile")">Adicionar</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("GetAll", "Profile")">Listar todos</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

@if (profileId == 2)
{
    <nav id="navAdm" name="navAdm" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Entregador</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Entregador
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Atualizar</a></li>
                            <li><a class="dropdown-item" href="#">Apagar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

@if (TempData["AuthenticationSuccess"] != null && TempData["AuthenticationSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "Usuário e senha válidos.",
            text: "Autenticado com sucesso!",
            icon: "success"
        });
    </script>
}

@if (TempData["MotorcycleTypeSuccess"] != null && TempData["MotorcycleTypeSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "O novo modelo de moto",
            text: "foi adicionado com sucesso!",
            icon: "success"
        });
    </script>
}

@if (TempData["MotorcycleTypeUpdateSuccess"] != null && TempData["MotorcycleTypeUpdateSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "O registro do modelo da moto",
            text: "foi atualizado com sucesso!",
            icon: "success"
        });
    </script>
}

@if (TempData["MotorcycleTypeDeleteSuccess"] != null && TempData["MotorcycleTypeDeleteSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "O registro do modelo da moto",
            text: "foi apagado com sucesso!",
            icon: "success"
        });
    </script>
}

@if (TempData["MotorcycleSuccess"] != null && TempData["MotorcycleSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "A nova moto",
            text: "foi adicionado com sucesso!",
            icon: "success"
        });
    </script>
}

@if (TempData["MotorcycleUpdateSuccess"] != null && TempData["MotorcycleUpdateSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "O registro da moto",
            text: "foi atualizado com sucesso!",
            icon: "success"
        });
    </script>
}

@if (TempData["MotorcycleDeleteSuccess"] != null && TempData["MotorcycleDeleteSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "O registro  da moto",
            text: "foi apagado com sucesso!",
            icon: "success"
        });
    </script>
}


@if (TempData["UserSuccess"] != null && TempData["UserSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "O novo usuário",
            text: "foi adicionado com sucesso!",
            icon: "success"
        });
    </script>
}

@if (TempData["UserUpdateSuccess"] != null && TempData["UserUpdateSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "O registro do usuário",
            text: "foi atualizado com sucesso!",
            icon: "success"
        });
    </script>
}

@if (TempData["UserDeleteSuccess"] != null && TempData["UserDeleteSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "O registro do usuário",
            text: "foi apagado com sucesso!",
            icon: "success"
        });
    </script>
}

@if (TempData["UserErro"] != null && TempData["UserErro"].ToString() == "Invalido")
{
    <script>
        Swal.fire({
            title: "O usuário não foi adicionado.",
            text: "Tente novamente mais tarde!",
            icon: "error"
        });
    </script>
}

@if (TempData["UserProfileSuccess"] != null && TempData["UserProfileSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "O novo perfil de usuário",
            text: "foi adicionado com sucesso!",
            icon: "success"
        });
    </script>
}

@if (TempData["UserProfileUpdateSuccess"] != null && TempData["UserProfileUpdateSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "O registro do perfil de usuário",
            text: "foi atualizado com sucesso!",
            icon: "success"
        });
    </script>
}

@if (TempData["UserProfileDeleteSuccess"] != null && TempData["UserProfileDeleteSuccess"].ToString() == "Valido")
{
    <script>
        Swal.fire({
            title: "O registro do perfil de usuário",
            text: "foi apagado com sucesso!",
            icon: "success"
        });
    </script>
}

@if (TempData["UserProfileErro"] != null && TempData["UserProfileErro"].ToString() == "Invalido")
{
    <script>
        Swal.fire({
            title: "O novo perfil de usuário não foi adicionado.",
            text: "Tente novamente mais tarde!",
            icon: "error"
        });
    </script>
}