@model IEnumerable<MottuOpsDesafioBackEnd.Domain.Models.UserModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center">Perfil</th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.Username</td>
                    <td class="text-center">@item.ProfileName</td>
                    <td class="text-center">
                        <a id="atualizar" name="atualizar" class="btn btn-warning text-center btn-sm" asp-area="" asp-controller="User" asp-action="GetById" asp-route-id="@item.Id">Atualizar</a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-danger text-center btn-sm" asp-area="" asp-controller="User" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">Nenhum usuário encontrado!</td>
            </tr>
        }
    </tbody>
</table>

<h6>Total de usuários cadastrados: @(Model?.Count() ?? 0)</h6>

<a class="btn btn-secondary btn-sm" href="@Url.Action("Index", "Authentication")">
    Voltar
</a>